# Ignore node_modules and build directories
backend/node_modules/
clent/node_modules/
clent/build/
backend/build/

# Ignore environment files
.env
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db